/* App */
body {
  background-color: var(--color-white);
}

.App {
  margin: 40px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */

.header {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-orange);
  border-radius: var(--border-radius-medium);
  margin: 16px;
  box-shadow: var(--box-shadow);
}

.header_title {
  padding: 4px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-beige);
  display: flex;
  justify-content: center;
}

.header_listCounter {
  padding: 4px;
  font-size: var(--font-size-semi-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-beige);
  display: flex;
  justify-content: center;
}

/* Navbar */

.navbar {
  align-self: flex-end;
  height: 28px;
  margin-bottom: 16px;
}

.navbar_darkmodeButton,
.navbar_deleteAllButton {
  background-color: var(--color-orange);
  height: 28px;
  border-radius: var(--border-radius-semi-medium);
  font-size: var(--font-size-semi-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-beige);
  box-shadow: var(--box-shadow);
  margin-right: 8px;
}

/* TodoList */

.listBox {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
}

.listBox_list {
  border: var(--color-orange) 1px solid;
  border-radius: var(--border-radius-medium);
  width: 380;
  height: 40px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listBox_list_checkBox {
  margin-left: 8px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listBox_list_checkBox_input {
  display: none;
}

.listBox_list_checkBox_label {
  cursor: pointer;
  width: 72px;
  height: 28px;
  margin-left: 8px;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  font-size: var(--font-size-semi-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-beige);
  border-radius: var(--border-radius-semi-medium);
}

.listBox_list_checkBox_input+.listBox_list_checkBox_label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  bottom: 2px;
  background-color: #F9F5F0;
  border-radius: var(--border-radius-semi-medium);

}

.listBox_list_checkBox_input:checked+.listBox_list_checkBox_label::before {
  background-color: #321313;
}

.listBox_list_text {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  text-decoration-color: var(--color-orange);
  color: var(--color-black);
}

.listBox_list_deleteButton {
  width: 60px;
  height: 28px;
  margin-right: 8px;
  font-size: var(--font-size-semi-large);
  background-color: var(--color-orange);
  color: var(--color-beige);
  font-weight: var(--font-weight-semi-bold);
  border-radius: var(--border-radius-semi-medium)
}


/*  Form */

.form {
  border: 4px solid var(--color-orange);
  border-radius: var(--border-radius-semi-medium);
  margin-top: 16px;
  box-shadow: var(--box-shadow);
}

.form_input {
  border: none;
  height: 28px;
  width: 240px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.form_submitButton {
  background-color: var(--color-orange);
  height: 28px;
  padding: 0px 8px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--color-beige);
}

/* ---------------------------------------------------------- */

:root {

  /* color */
  --color-white: #F9F5F0;
  --color-beige: #F2EAD3;
  --color-orange: #F4991A;
  --color-deepbrown: #321313;
  --color-black: #000000;
  /* font weight */
  --font-weight-bold: 800;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* font size */

  --font-size-large: 20px;
  --font-size-semi-large: 16px;
  --font-size-medium: 13px;


  /* border-radius */
  --border-radius-medium: 8px;
  --border-radius-semi-medium: 4px;

  /* box shadow */
  --box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.20);
  ;
}

html.dark {
  --color-white: #1A1A1A;
  --color-beige: #F2EAD3;
  --color-orange: #D17900;
  --color-deepbrown: #F2EAD3;
  --color-black: #F2EAD3;

  --box-shadow: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

Body {
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

label {
  padding: 0px;
  margin: 0px;
}

h3 {
  margin: 0px;
}

p {
  margin: 0px;
}
